<div class="ase-player-volume-container">
  <div class="ase-volume-control">
    <i class="fas fa-volume-up ase-volume-icon"></i>
    <input type="range" class="ase-volume-slider ase-slider" min="0" max="100" value="{{volume}}">
    <span class="ase-volume-value">{{volume}}%</span>
  </div>
  <p class="ase-hint">Adjust your personal volume</p>
</div>